# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
dist/
build/
*.egg-info/
.eggs/

# Hugging Face model cache
.cache/

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Env files
.env
.env.*

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
